* {
    // margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Générale
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: signerica fat;
    src: url(../fonts/Signerica_Fat.ttf);
}

a {
    text-decoration: none;
}

h1 {
    font-family: signerica fat;
}

h2,
h3,
p,
ul>li,
a {
    font-family: 'Poppins', sans-serif;
}

body {
    // margin: 0;
    background-color: $color-mid-blue;
    font-family: 'Noto Sans Lao Looped', sans-serif;
}

// header & footer
.logo-name {
    h1 {
        color: $color-mid-black;

        &:hover {
            color: $color-brown;
        }
    }
}

// header
header {
    background-image: url('images/fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    // margin-bottom: -60px !important;
    background-color: black;
    background-blend-mode: luminosity;


    .wrapper-jfr {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .card-jfr {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            // padding: 1.5rem;
            // background: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            // transition: 0.4s ease-out;
            // box-shadow: 0px 7px 10px rgba(black, 0.5);

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                // border-radius: 50%;
            }

        }
    }

}


// menu
#menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

    nav {
        position: relative;
        width: 130px;
        height: 55px;
        margin-right: 20px;
        background: $color-brown;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.4s;
        overflow: hidden;

        &::before {
            content: "MENU";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            line-height: 55px;
            background: $color-brown;
            color: $color-white;
            font-size: 20px;
            font-weight: 800;
            z-index: 11;
            transition: all 0.3s;
        }

        ul {
            display: flex;
            // line-height: 55px;
            list-style: none;
            align-content: center;
            justify-content: center;

            li>a {
                color: $color-white;
                font-size: 17px;
                text-decoration: none;
                margin: 0 -50px;
                border-radius: 5px;
                opacity: 0;
                pointer-events: none;
                transition: all 0.4s;
            }

            li>a.active,
            li>a:hover {
                background-color: $color-beige;
                color: $color-mid-black;
            }
        }
    }

    nav._expand {
        width: 800px;

        &::before {
            opacity: 0;
            pointer-events: none;
        }

        ul li>a {
            margin: 0 10px;
            padding: 6px 15px;
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s;
        }
    }
}

hr {
    width: 60%;
    margin: auto;
}

//body
#main-container {

    // partie moi-même
    .title-self {
        margin-bottom: 50px;
        margin-left: 100px;
        margin-top: 120px;
        font-size: 18px;
    }

    .self-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: auto;
        gap: 20px;

        .pic-jfr {
            border-radius: 5000px;
            width: 30%;
            height: 267px;
        }
    }

    img {
        width: 25%;
    }

    .text-self {
        p {
            max-width: 75%;
            margin: auto;
        }
    }

    // partie expérience pro
    .experience-bg {
        background-image: url('images/experience-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 70vh;
        background-color: black;
        background-blend-mode: luminosity;

        .experience {
            margin-bottom: 50px;
            margin-right: 100px;
            margin-top: 55px;
            text-align: right;
            font-size: 18px;
            color: $color-white;
            padding-top: 30px;
        }

        .description-exp {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: auto;
            gap: 20px;
            margin-bottom: 20px;
            margin-top: 35px;
        }

        .title-exp {
            img {
                width: 90%;
            }
        }

        img {
            width: 25%;
        }

        .text-exp {
            p {
                max-width: 60%;
                margin: auto;
                color: $color-white;
            }
        }
    }

    // partie projets
    .projet {
        margin-bottom: 50px;
        margin-left: 100px;
        margin-top: 55px;
        font-size: 18px;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 70px;

        .card-projet .name-projet {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #2c73df;
        }

        .card-projet .name-projet h3 {
            position: absolute;
            top: 35%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            font-size: 25px;
            color: #fff;
        }

        .card-projet .slide {
            width: 300px;
            height: 200px;
            transition: 0.5s;
        }

        .card-projet .slide.slide1 {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            transition: .7s;
            transform: translateY(100px);
        }

        .card-projet:hover .slide.slide1 {
            transform: translateY(0px);
        }

        .card-projet .slide.slide2 {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            transition: .8s;
            transform: translateY(-100px);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        }

        .card-projet:hover .slide.slide2 {
            transform: translateY(0);
        }

        .card-projet .slide.slide2::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 4px;
            bottom: 15px;
            left: 50%;
            left: 50%;
            transform: translateX(-50%);
            background: $color-blue;
        }

        .card-projet .slide.slide2 .content p {
            margin: 0;
            padding: 0;
            text-align: center;
            color: $color-light-black;
        }

        .card-projet .slide.slide2 .content h3 {
            margin: 0 0 10px 0;
            padding: 0;
            font-size: 24px;
            text-align: center;
            color: $color-light-black;
        }

    }

    // partie programmation
    .programmation {
        margin-bottom: 75px;
        margin-right: 100px;
        margin-top: 55px;
        text-align: right;
        font-size: 18px;
    }

    .cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 50px;
        max-width: 80%;
        margin: auto;

        .card-programmation {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid $color-blue;

            img {
                width: 60%;
                height: 60%;
                filter: grayscale(1);
                transition: .4s;
            }

            .css {
                width: 55%;
                height: 65%;
            }

            .js {
                width: 500px;
                height: 65%;
            }

            .php {
                width: 62%;
                height: 62%;
            }

            &:hover img {
                filter: none;
                scale: 1.3;
            }
        }
    }

    .cards2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 50px;
        max-width: 70%;
        margin: auto;

        .card-programmation {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid $color-blue;

            img {
                width: 60%;
                height: 60%;
                filter: grayscale(1);
                transition: .4s;
            }

            .nodejs {
                width: 70%;
                height: 50%;
            }

            &:hover img {
                filter: none;
                scale: 1.3;
            }
        }
    }



    // partie hobbies
    .hobbie-bg {
        background-image: url('images/hobbie-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 70vh;
        background-color: black;
        background-blend-mode: luminosity;
        margin-bottom: 100px;

        .hobbie {
            margin-bottom: 70px;
            margin-left: 100px;
            margin-top: 55px;
            font-size: 18px;
            color: $color-white;
            padding-top: 30px;
        }

        .wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .card-hobbie {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                padding: 1.5rem;
                background: white;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.4s ease-out;
                box-shadow: 0px 7px 10px rgba(black, 0.5);

                &:hover {
                    transform: translateY(20px);
                    cursor: pointer;

                    &::before {
                        opacity: 1;
                    }

                    .info {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: rgba(black, 0.6);
                    z-index: 2;
                    transition: 0.5s;
                    opacity: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                }

                .info {
                    position: relative;
                    z-index: 3;
                    color: $color-beige;
                    opacity: 0;
                    transform: translateY(30px);
                    transition: 0.5s;

                    h3 {
                        margin: 0px;
                        text-align: center;
                    }
                }
            }

        }
    }

    // partie CV
    // .cv {
    //     margin-bottom: 75px;
    //     margin-right: 100px;
    //     margin-top: 55px;
    //     text-align: right;
    //     font-size: 18px;
    // }

    // bouton téléchargement CV
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        cursor: pointer;

        button {
            padding: 12px 30px;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 10px;
            border: 1px solid $color-brown;

            &:hover {
                background-color: $color-blue;
                color: $color-white;
                transition: .6s;
                border: 1px solid $color-blue;
            }

            a {
                text-decoration: none;
                color: $color-mid-black;

                &:hover {
                    color: $color-white;
                }
            }
        }

    }

}



//footer

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-beige;
    width: 1200px;
    margin: auto;
}

.rs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .rs-linkedin {
        background-color: $color-mid-blue;
        border-radius: 50%;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        width: 50px;

        &:hover {
            background-color: $color-white;
        }

        path {
            stroke: $color-mid-black;
            fill: $color-mid-black;
        }
    }

    .rs-git {
        background-color: $color-mid-blue;
        border-radius: 50%;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        width: 50px;

        &:hover {
            background-color: $color-white;
        }

        path {
            stroke: $color-mid-black;
            fill: $color-mid-black;
        }
    }

    svg {
        width: 25px;
    }
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    p {
        margin-left: 3px;
        font-size: 14px;
    }

    svg {
        width: 20px;
    }
}

.button-top {
    display: inline-block;
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 1000;
    text-align: center;
    transition: all 350ms ease-in-out;

    &:hover {
        transform: scale(1.5s);
        cursor: pointer;
    }
}